
.board-container {
	display:inline-block;
	position:relative;
}

table.board {
	width:65vmin;
	height:65vmin;
	cursor:pointer;
	background-color: #EFEFEF;
}

table.board-wait {
	pointer-events:none;
	cursor:not-allowed !important;
}

table.board, td {
	border: 2px solid #000;
	border-collapse: collapse;
}

.board_cell {
	width:100px;
	height:100px;
}

body {
	background-color: #e6e6ea;
}
.board_cell:hover {
	/* background-color: #dadade; */
	background-color: #F8F8F8;
}
/*
background 
v1 02394a 013343
*/


.piece_triangle {
	width: 62px;
	height: 62px;
}
.piece_square {
	width: 80px;
	height: 80px;
}

.board_cell img {
	position: relative;
	margin: auto;
}


.board-top-red, .board-top-blue {
	position:absolute;
	top:-4rem;
	left:50%;
	transform:translate(-50%);
}

.board-top-red {
	color:#fe4a49;
}
.board-top-blue {
	color:#2ab7ca;
}