
.end-panel {
	z-index:100;
}

.end-panel, .end-transparency {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.end-content {
	position:absolute;
	top:5%;
	left:10%;
	width:80%;
	height:90%;
	z-index:110;
}

.end-msg {
	text-align: center;
}

button.end-btn-red, button.end-btn-blue {
	border:solid 1px black;
	border-radius:0;
	padding:0.7rem 2rem;
	font-size:1.2rem;
	color:white;
	cursor:pointer;
	min-width:7rem;
}

button.end-btn-red, button.end-btn-blue:hover {
	background-color:#fe4a49;
}
button.end-btn-blue, button.end-btn-red:hover {
	background-color:#2ab7ca;
}

#btn-top {
	margin:0 50% 2rem 50%;
	transform:translate(-50%);
}

#btn-right {
	float:right;
}
#btn-left, #btn-right {
	margin-top:2rem;
}

.end-transparency{
	background-color: white;
	z-index:101;
}